.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    margin-bottom: 0;
}

.btn-submit {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: auto;
    display: block;
}

.col-centered {
    margin: auto;
}

.col-form-label {
    text-align: center;
}
