.no-scroll {
    overflow: hidden;
    max-height: 100vh;
}

.app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn-scan {
    margin: .8rem .9rem 0;
    font-size: 1.025em;
}
