@mixin display-flex($direction-value, $align-value, $wrap-value: initial, $justify-value: initial) {
    display: flex;
    flex-direction: $direction-value;
    align-items: $align-value;
    flex-wrap: $wrap-value;
    justify-content: $justify-value;
}

.add-product-form-container {
    @include display-flex(row, center, wrap);
    position: relative;
    padding-bottom: 3.8rem;

    .add-product-form {
        @include display-flex(row, center, wrap);
        width: 100%;
        align-items: center;
    }
    
    .card {
        width: 48%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .form-header {
        @include display-flex(row, center, initial, center);
        width: 100%;
        margin-bottom: 1.5rem;
    }
    
    .form-title {
        margin: 0 1rem 0 0;
    }
    
    .card-header {
        @include display-flex(row, center, initial, space-between);
    
        &-action {
            padding: .1rem .1rem;
        }
    }
    
    .form-action {
        position: absolute;
        bottom: 1.8rem;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .btn-submit {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .select-category {
        &-control {
            cursor: pointer;

            option {
                text-transform: capitalize;
            }
        }

        &-heading {
            @include display-flex(row, center, initial, space-between);
            margin-bottom: .5rem;

            &-label {
                margin: 0;
            }

            &-btn {
                color: #babec4;
                cursor: pointer;
                user-select: none;

                &:hover {
                    color: #838a95;
                }
            }
        }
    }

    .ng-autocomplete {
        width: auto;
    }
    
    .autocomplete-container {
        height: auto;
        box-shadow: none;
    
        .input-container {
            position: relative;

            input {
                display: block;
                width: 100%;
                height: calc(1.5em + 0.75rem + 2px);
                padding: 0.375rem 0.75rem;
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.5;
                color: #5c6873;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #e4e7ea;
                border-radius: 0.25rem;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

                &:focus {
                    color: #5c6873;
                    background-color: #fff;
                    border-color: #8ad4ee;
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
                }

                &::placeholder {
                    color: #73818f;
                    opacity: 1;
                }
            }
        }
    }
    
    @media (max-width: 700px) {
        .card {
            width: 70%;
        }
    }
    
    @media (max-width: 500px) {
        .card {
            width: 100%;
        }
    }
}
