<div class="animated fadeIn add-product-form-container">
    <div class="form-header">
        <h5 class="form-title">Add Products to a Warehouse</h5>
        <button class="btn btn-primary" (click)="addProduct()">Add one</button>
    </div>

    <form
        (ngSubmit)="onProductsAdditionFormSubmit()"
        class="add-product-form"
        [formGroup]="productsAdditionForm">

        <ng-container formArrayName="newProducts">
            <div class="card" *ngFor="let product of newProducts.controls; index as i">
                <ng-container [formGroupName]="i">
                    <div class="card-header">
                        <strong>Product {{ i+1 }}</strong>

                        <button
                            type="button"
                            class="card-header-action btn btn-link btn-close"
                            (click)="deleteProduct(i)"
                            *ngIf="newProducts.length !== 1">

                            <i class="icon-close"></i>
                        </button>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label for="description">Description</label>
                            
                            <div class="ng-autocomplete">
                                <ng-autocomplete
                                    [data]="warehouseState.products"
                                    searchKeyword="description"
                                    placeHolder="Product description"
                                    debounceTime="300"
                                    (selected)='onDescriptionSuggestionSelect($event, i)'
                                    (inputChanged)='onDescriptionInputChange($event, i)'
                                    (inputCleared)='onDescriptionInputClear(i)'
                                    [itemTemplate]="itemTemplate">
                                </ng-autocomplete>
                                    
                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.description"></a>
                                </ng-template>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label for="brandName">Brand Name</label>
                            <input
                                formControlName="brandName"
                                type="text"
                                (input)="onBrandNameInputChange(i)"
                                class="form-control"
                                id="brandName"
                                placeholder="Product brand name">
                        </div>
    
                        <div class="form-group">
                            <label for="count">Count</label>
                            <input
                                formControlName="count"
                                type="number"
                                min="0"
                                class="form-control"
                                id="count"
                                placeholder="Products count">
                        </div>
    
                        <div class="form-group">
                            <label for="areaSelect">Category</label>
                            
                            <select
                                formControlName="areaId"
                                id="areaSelect"
                                name="select1"
                                class="form-control select-category-control">

                                <option value="">-Select one of the categories-</option>
                                <ng-container *ngFor="let area of warehouseState.areas">
                                    <option [value]="area._id">{{ area.name }}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>

        <div class="form-action">
            <button
                type="submit"
                [disabled]="productsAdditionForm.invalid ||
                            productsAdditionForm.pending ||
                            !warehouseState.warehouseId"
                class="btn btn-primary btn-submit">Add Products</button>
        </div>
    </form>
</div>