@mixin display-flex($direction-value, $align-value, $wrap-value: initial, $justify-value: initial) {
    display: flex;
    flex-direction: $direction-value;
    align-items: $align-value;
    flex-wrap: $wrap-value;
    justify-content: $justify-value;
}

.user-cards-wrapper {
    @include display-flex(row, center, wrap, flex-start);
    margin: 0 -1%;
}

.user-card {
    @include display-flex(row, center, initial, space-between);
    border: 1px solid #c8ced3;
    background-color: #f0f3f5;
    border-radius: 3px;
    padding: 1rem;
    width: 23%;
    margin: 0 1% .7rem;
}

.user-logo {
    padding: 2rem;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    margin-right: 1rem;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.user-info {
    &-piece {
        &-label {
            font-weight: bold;
        }
    }
}

@media (min-width: 801px) and (max-width: 1024px) {
    .user-cards-wrapper {
        margin: 0 -1.5%;
    }

    .user-card {
        width: 32%;
        margin: 0 1.5%;
    }
}

@media (min-width: 551px) and (max-width: 800px) {
    .user-cards-wrapper {
        margin: 0 -2%;
    }

    .user-card {
        width: 46%;
        margin: 0 2%;
    }
}

@media (max-width: 550px) {
    .user-card {
        width: 100%;
        margin: initial 0 initial 0;
        justify-content: flex-start;
    }
}
