<div class="animated fadeIn">
    <h4 class="section-title">Subordinates List</h4>

    <div class="user-cards-wrapper">
        <div class="user-card" *ngFor="let subordinate of subordinateList; index as i">
            <div class="user-logo">
                <img [src]="'/assets/img/avatars/' + randomImageNumberList[i] + '.jpg'" alt="User logo">
            </div>

            <div class="user-info">
                <div class="user-info-piece">
                    <span class="user-info-piece-label">Name:</span>
                    <span class="user-info-piece-value">{{ subordinate.name }}</span>
                </div>

                <div class="user-info-piece">
                    <span class="user-info-piece-label">Phone</span>
                    <span class="user-info-piece-value">{{ subordinate.phone }}</span>
                </div>
            </div>
        </div>
    </div>
</div>