<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-9 col-centered">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Create a Warehouse</h5>
    
                    <button class="btn btn-primary" (click)="addArea()">Add an Area</button>
                </div>
    
                <div class="card-body">
                    <form
                        class="form-horizontal"
                        [formGroup]="warehouseCreationForm"
                        (ngSubmit)="onWarehouseCreationFormSubmit()">
    
                        <ng-container formArrayName="areas">
                            <div class="form-group row" *ngFor="let area of newAreas.controls; index as i">
                                <label
                                    class="col-1 col-form-label" 
                                    [for]="i+1">Area {{ i+1 }}:</label>
            
                                <div class="col-10 area-name-control-wrapper">
                                    <input
                                        type="text"
                                        [id]="i+1"
                                        name="text-input"
                                        [formControlName]="i"
                                        class="form-control area-name-control"
                                        placeholder="Area Name">
                                </div>
    
                                <button
                                    type="button"
                                    class="card-header-action btn btn-link btn-close col-1"
                                    (click)="deleteArea(i)"
                                    *ngIf="newAreas.length !== 1">
    
                                    <i class="icon-close"></i>
                                </button>
                            </div>
                        </ng-container>
    
                        <div class="form-actions">
                            <button 
                                type="submit"
                                class="btn btn-primary btn-submit"
                                [disabled]="warehouseCreationForm.invalid ||
                                            warehouseCreationForm.pending ||
                                            !adminId"
                            >Create</button>    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>